force-app/main/default/flows/ATM_Flow_Example.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>56.0</apiVersion>
    <assignments>
        <name>Assig_Count</name>
        <label>Assig Count</label>
        <locationX>754</locationX>
        <locationY>278</locationY>
        <assignmentItems>
            <assignToReference>varCounter</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_Password</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Entered_Amount</name>
        <label>Assign Entered Amount</label>
        <locationX>314</locationX>
        <locationY>998</locationY>
        <assignmentItems>
            <assignToReference>VarAmount</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Deposit_Amount</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VarAmount</assignToReference>
            <operator>Subtract</operator>
            <value>
                <elementReference>Withdraw_Amount</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>display_balance</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>choiceCheckBalance</name>
        <choiceText>Check Balance</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>3</stringValue>
        </value>
    </choices>
    <choices>
        <name>choiceDeposit</name>
        <choiceText>Deposit</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>2</stringValue>
        </value>
    </choices>
    <choices>
        <name>choiceWithdraw</name>
        <choiceText>Withdraw</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>1</stringValue>
        </value>
    </choices>
    <decisions>
        <name>Check_Count</name>
        <label>Check Count?</label>
        <locationX>1128</locationX>
        <locationY>518</locationY>
        <defaultConnector>
            <targetReference>Thank_you_Screen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Exit</defaultConnectorLabel>
        <rules>
            <name>With_in_Limit</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>VarFormulaCount</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Alert_Screen</targetReference>
            </connector>
            <label>With in Limit</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Password</name>
        <label>Check Password?</label>
        <locationX>754</locationX>
        <locationY>398</locationY>
        <defaultConnector>
            <targetReference>Check_Count</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>In-valid Password</defaultConnectorLabel>
        <rules>
            <name>Valid_Password</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Enter_Your_Atm_Pin</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>varPasswordtxt</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Atm_Menu</targetReference>
            </connector>
            <label>Valid Password</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_User_Selected</name>
        <label>Check User Selected</label>
        <locationX>380</locationX>
        <locationY>638</locationY>
        <defaultConnector>
            <targetReference>Display_Current_Balance</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Check Balance</defaultConnectorLabel>
        <rules>
            <name>Withdraw_or_Deposit</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>RadioButton_menu</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>choiceDeposit</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>RadioButton_menu</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>choiceWithdraw</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Enter_Amount</targetReference>
            </connector>
            <label>Withdraw or Deposit</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Withdraw_Amount</name>
        <label>Check Withdraw Amount?</label>
        <locationX>182</locationX>
        <locationY>878</locationY>
        <defaultConnector>
            <targetReference>Assign_Entered_Amount</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Amount  lesser than Current Balance</defaultConnectorLabel>
        <rules>
            <name>Amount_5000</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Withdraw_Amount</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <elementReference>VarAmount</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>In_Sufficient_Fund_Screen</targetReference>
            </connector>
            <label>Amount Greater Than Current Balance</label>
        </rules>
    </decisions>
    <decisions>
        <name>Checked_Or_Not</name>
        <label>Checked Or Not?</label>
        <locationX>974</locationX>
        <locationY>758</locationY>
        <defaultConnector>
            <targetReference>Thank_you_Screen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not Checked</defaultConnectorLabel>
        <rules>
            <name>Checked</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Do_You_Want_To_Re_Enter_The_Password</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <isGoTo>true</isGoTo>
                <targetReference>ATM_Machine</targetReference>
            </connector>
            <label>Checked</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>VarFormulaCount</name>
        <dataType>Number</dataType>
        <expression>4-{!varCounter}</expression>
        <scale>0</scale>
    </formulas>
    <interviewLabel>ATM Flow Example {!$Flow.CurrentDateTime}</interviewLabel>
    <label>ATM Flow Example</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <screens>
        <name>Alert_Screen</name>
        <label>Alert Screen</label>
        <locationX>974</locationX>
        <locationY>638</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Checked_Or_Not</targetReference>
        </connector>
        <fields>
            <name>Lasttry</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;color: rgb(202, 15, 15);&quot;&gt;Last Attempt&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>VarFormulaCount</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <numberValue>1.0</numberValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>displaytxt</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;color: rgb(202, 33, 23); background-color: rgb(255, 255, 255);&quot;&gt;Only  &lt;/strong&gt;&lt;strong style=&quot;color: rgb(202, 33, 23);&quot;&gt;{!VarFormulaCount} Attempts Left&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>VarFormulaCount</leftValueReference>
                    <operator>GreaterThan</operator>
                    <rightValue>
                        <numberValue>1.0</numberValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Do_You_Want_To_Re_Enter_The_Password</name>
            <dataType>Boolean</dataType>
            <fieldText>Do You Want To Re Enter The Password (Max 3 attempt)</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>VarFormulaCount</leftValueReference>
                    <operator>GreaterThan</operator>
                    <rightValue>
                        <numberValue>0.0</numberValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>ATM_Machine</name>
        <label>ATM Machine</label>
        <locationX>754</locationX>
        <locationY>158</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Assig_Count</targetReference>
        </connector>
        <fields>
            <name>Enter_Your_Atm_Pin</name>
            <defaultValue>
                <elementReference>var_UserEntered</elementReference>
            </defaultValue>
            <fieldText>Enter Your Atm Pin</fieldText>
            <fieldType>PasswordField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Atm_Menu</name>
        <label>Atm Menu</label>
        <locationX>380</locationX>
        <locationY>518</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Check_User_Selected</targetReference>
        </connector>
        <fields>
            <name>selectyouroption</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong&gt;Select Your Option&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>RadioButton_menu</name>
            <choiceReferences>choiceWithdraw</choiceReferences>
            <choiceReferences>choiceDeposit</choiceReferences>
            <choiceReferences>choiceCheckBalance</choiceReferences>
            <dataType>String</dataType>
            <fieldType>RadioButtons</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>display_balance</name>
        <label>display balance</label>
        <locationX>314</locationX>
        <locationY>1118</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Thank_You_Screen1</targetReference>
        </connector>
        <fields>
            <name>deposit_TotalAmount</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong&gt;Total Balance&lt;/strong&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;color: rgb(43, 8, 147);&quot;&gt;{!VarAmount}&lt;/strong&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>RadioButton_menu</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>choiceDeposit</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>withdraw_TotalAmount</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong&gt;Total Balance&lt;/strong&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;color: rgb(60, 6, 176);&quot;&gt;{!VarAmount}&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>RadioButton_menu</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>choiceWithdraw</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Display_Current_Balance</name>
        <label>Display Current Balance</label>
        <locationX>578</locationX>
        <locationY>758</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Thank_You_Screen1</targetReference>
        </connector>
        <fields>
            <name>txt</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong&gt;Current Balance&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>displayCurrentAmount</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;color: rgb(25, 16, 189);&quot;&gt;{!VarAmount}&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Enter_Amount</name>
        <label>Enter Amount</label>
        <locationX>182</locationX>
        <locationY>758</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Check_Withdraw_Amount</targetReference>
        </connector>
        <fields>
            <name>Deposit_Amount</name>
            <dataType>Number</dataType>
            <fieldText>Deposit Amount</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <scale>0</scale>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>RadioButton_menu</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>choiceDeposit</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Withdraw_Amount</name>
            <dataType>Number</dataType>
            <fieldText>Withdraw Amount</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <scale>0</scale>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>RadioButton_menu</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>choiceWithdraw</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>In_Sufficient_Fund_Screen</name>
        <label>In Sufficient Fund Screen</label>
        <locationX>50</locationX>
        <locationY>998</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>insufFund</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;color: rgb(221, 58, 26);&quot;&gt;Sorry !, Insufficient Fund&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Thank_you_Screen</name>
        <label>Thank you Screen</label>
        <locationX>1128</locationX>
        <locationY>1130</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>ThankYou</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;color: rgb(228, 17, 17); background-color: rgb(255, 255, 255);&quot;&gt;Sorry! Please Contact Your Respective Bank &lt;/strong&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;color: rgb(22, 195, 34);&quot;&gt;Thank You&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Thank_You_Screen1</name>
        <label>Thank You Screen</label>
        <locationX>380</locationX>
        <locationY>1430</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>thank_Text</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;color: rgb(27, 150, 11);&quot;&gt;Thank You For Reaching Us!&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>628</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>ATM_Machine</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>var_UserEntered</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>VarAmount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
        <value>
            <numberValue>5000.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>varCounter</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>1.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>varPassword</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>2468.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>varPasswordtxt</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>2468</stringValue>
        </value>
    </variables>
</Flow>
