force-app/main/default/flows/Calculator_Flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>56.0</apiVersion>
    <assignments>
        <name>AddedValues</name>
        <label>AddedValues</label>
        <locationX>50</locationX>
        <locationY>638</locationY>
        <assignmentItems>
            <assignToReference>Total</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>additionFormula</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Display_Values</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>divideValues</name>
        <label>divideValues</label>
        <locationX>842</locationX>
        <locationY>638</locationY>
        <assignmentItems>
            <assignToReference>Total</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>divideFormula</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Display_Values</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>MultiplyValues</name>
        <label>MultiplyValues</label>
        <locationX>578</locationX>
        <locationY>638</locationY>
        <assignmentItems>
            <assignToReference>Total</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>multiplyFormula</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Display_Values</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>subractValues</name>
        <label>subractValues</label>
        <locationX>314</locationX>
        <locationY>638</locationY>
        <assignmentItems>
            <assignToReference>Total</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>subractionFormula</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Display_Values</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>Addition</name>
        <choiceText>Addition</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>1.0</numberValue>
        </value>
    </choices>
    <choices>
        <name>Divide</name>
        <choiceText>Divide</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>4.0</numberValue>
        </value>
    </choices>
    <choices>
        <name>Multiplication</name>
        <choiceText>Multiplication</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>3.0</numberValue>
        </value>
    </choices>
    <choices>
        <name>Subraction</name>
        <choiceText>Subraction</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>2.0</numberValue>
        </value>
    </choices>
    <decisions>
        <name>Check_Number</name>
        <label>Check Number</label>
        <locationX>974</locationX>
        <locationY>278</locationY>
        <defaultConnector>
            <targetReference>numberMissingScreen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Calculation_Check</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>First_Number</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Second_Number</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Select_Operator</targetReference>
            </connector>
            <label>Calculation Check</label>
        </rules>
    </decisions>
    <decisions>
        <name>Total_Value</name>
        <label>Total Value</label>
        <locationX>578</locationX>
        <locationY>518</locationY>
        <defaultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>numberMissingScreen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Addition_Condition</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CalculatorValues</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Addition</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AddedValues</targetReference>
            </connector>
            <label>Addition Condition</label>
        </rules>
        <rules>
            <name>Subraction_Condition</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CalculatorValues</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Subraction</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>subractValues</targetReference>
            </connector>
            <label>Subraction Condition</label>
        </rules>
        <rules>
            <name>Multiplication_Condition</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CalculatorValues</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Multiplication</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>MultiplyValues</targetReference>
            </connector>
            <label>Multiplication Condition</label>
        </rules>
        <rules>
            <name>Divide_Condition</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CalculatorValues</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Divide</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>divideValues</targetReference>
            </connector>
            <label>Divide Condition</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>additionFormula</name>
        <dataType>Number</dataType>
        <expression>{!First_Number}+{!Second_Number}</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>divideFormula</name>
        <dataType>Number</dataType>
        <expression>{!First_Number}/{!Second_Number}</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>multiplyFormula</name>
        <dataType>Number</dataType>
        <expression>{!First_Number}*{!Second_Number}</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>subractionFormula</name>
        <dataType>Number</dataType>
        <expression>{!First_Number} - {!Second_Number}</expression>
        <scale>0</scale>
    </formulas>
    <interviewLabel>Calculator Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Calculator Flow</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <screens>
        <name>Calculator</name>
        <label>Calculator</label>
        <locationX>974</locationX>
        <locationY>158</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Check_Number</targetReference>
        </connector>
        <fields>
            <name>First_Number</name>
            <dataType>Number</dataType>
            <fieldText>First Number</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <name>Second_Number</name>
            <dataType>Number</dataType>
            <fieldText>Second Number</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <scale>0</scale>
        </fields>
        <nextOrFinishButtonLabel>Next</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Display_Values</name>
        <label>Display Values</label>
        <locationX>578</locationX>
        <locationY>854</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Values</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;color: rgb(20, 234, 63);&quot;&gt;Total Values is {!Total}&lt;/span&gt;&lt;span style=&quot;color: rgb(20, 234, 63); font-size: 20px;&quot;&gt;﻿&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>numberMissingScreen</name>
        <label>numberMissingScreen</label>
        <locationX>1370</locationX>
        <locationY>398</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>numMissing</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;color: rgb(215, 21, 21);&quot;&gt;Numbers are Missing, Please Check It.&lt;/span&gt;&lt;strong style=&quot;color: rgb(215, 21, 21);&quot;&gt;&lt;em&gt;&lt;u&gt;﻿&lt;/u&gt;&lt;/em&gt;&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Select_Operator</name>
        <label>Select Operator</label>
        <locationX>578</locationX>
        <locationY>398</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Total_Value</targetReference>
        </connector>
        <fields>
            <name>CalculatorValues</name>
            <choiceReferences>Addition</choiceReferences>
            <choiceReferences>Subraction</choiceReferences>
            <choiceReferences>Multiplication</choiceReferences>
            <choiceReferences>Divide</choiceReferences>
            <dataType>Number</dataType>
            <fieldText>Operators</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>false</isRequired>
            <scale>0</scale>
        </fields>
        <nextOrFinishButtonLabel>Next</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>848</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Calculator</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>DefaultFirstNum</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>DefaultSecondNum</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>Total</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <scale>0</scale>
    </variables>
</Flow>
